<div class="card mb-4">
  <div class="card-img-wrapper">
    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Phoenicopterus_ruber_in_S%C3%A3o_Paulo_Zoo.jpg" class="card-img-top" alt="{{user.introduction}}">
  </div>  
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1"><i class="fa fa-user">
    {{user.username}}:   {{user.city}} , {{user.age}}
    </i></h6>
    <p class="card-text text-muted text-center" [routerLink]="['/members/', user.userId]">{{user.username}}</p>
  </div>
</div>
