<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
     <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Phoenicopterus_ruber_in_S%C3%A3o_Paulo_Zoo.jpg" class="card-img-top img-thumbnail" alt="{{user.introduction}}">
        <div class="card-body">
            <div><strong> Username: </strong><p>{{user.username}}</p></div>
            <div><strong> Location: </strong>  <p>{{user.city}}</p></div>
            <div><strong> Age: </strong><p>{{user.age}}</p></div>
            <div><strong> Gender: </strong><p>{{user.gender}}</p></div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary w-100">Like</button>
            <button class="btn btn-success w-100">Comment</button>
          </div>
        </div>
     </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="About {{user.username}}">
            <h4>Description user</h4>
            <p>{{user?.city}}</p>
            <h4>Age</h4>
            <p>{{user.age}}</p>
          </tab>
          <tab heading="Introduction">
              <h4>Description</h4>
              <p>{{user.introduction}}</p>
          </tab>
          <tab heading="Photos">
              <h4>Description Photos</h4>
              <p>{{user.introduction}}</p>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
<a [routerLink]="[ '/home' ]" >Link</a><br>
<a [routerLink]="[ '/path' ]" routerLinkActive="active">name</a>
<a [routerLink]="[ '/home' ]"  routerLinkActive #rla="routerLinkActive">
  Bob  {{user.introduction=="son"? '(already open)' : ''}} 
</a>
<br>
router
<br>

<a [routerLink]="[ '/home']" skipLocationChange>redirect but not change url</a>

<router-outlet name='left'>Sondeptrai</router-outlet>
<router-outlet name='right'>Sonquadeptrai</router-outlet>

