<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
     <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Phoenicopterus_ruber_in_S%C3%A3o_Paulo_Zoo.jpg" class="card-img-top img-thumbnail" alt="{{user.introduction}}">
        <div class="card-body">
            <div><strong> Username: </strong><p>{{user.username}}</p></div>
            <div><strong> Location: </strong>  <p>{{user.city}}</p></div>
            <div><strong> Age: </strong><p>{{user.age}}</p></div>
            <div><strong> Gender: </strong><p>{{user.gender}}</p></div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="glow-on-hover" type="button">Like!</button>
            <button class="btn btn-success w-100">Comment</button>
          </div>
        </div>
     </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="About {{user.username}}">
            <h4>Description user</h4>
            <p>{{user?.city}}</p>
            <h4>Age</h4>
            <p>{{user.age}}</p>
          </tab>
          <tab heading="Introduction">
              <h4>Description</h4>
              <p>{{user.introduction}}</p>
          </tab>
          <tab heading="Photos">
              <h4>Description Photos</h4>
              <p>{{user.introduction}}</p>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
<a [routerLink]="[ '/home' ]" >Link</a><br>
<a [routerLink]="[ '/path' ]" routerLinkActive="active">name</a>
<a [routerLink]="[ '/home' ]"  routerLinkActive #rla="routerLinkActive">
  Bob  {{user.introduction=="son"? '(already open)' : ''}} 
</a>
<br>
router
<br>
<div>
  
</div>

<a [routerLink]="[ '/home']" skipLocationChange>redirect but not change url</a>

<router-outlet name='left'>Sondeptrai</router-outlet>
a 🔥🔥🔥
<style>
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(7, 246, 87);
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(3, 245, 253);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
</style>