<div style="text-align: center;margin-top: 50px;" *ngIf="!registerMode">
  <button type="button" class="btn btn-success"(click)="registerToggle()">Register</button>
  <button type="button" class="btn btn-primary" style="margin-left: 30px;" >LearnMore</button>
</div> 
 <!-- <div *ngIf="!registerMode">
  <button type="button" (onclick)="registerToggle()" >Register</button>
  <button type="button" >LearnMore</button>
</div> -->

 <div class="container" *ngIf="registerMode">
  <div class="row justify-content-center">
    <div class="col-md-4">
        <app-register  (cancelRegister)="cancelRegisterMode($event)"></app-register>
    </div>
  </div>
</div> 
<body>
<form (ngSubmit)="addNumber()" >
    <input type="text" placeholder="Number one"  class="form-control col-md-4" name="son1" [(ngModel)]="son1" ><br>
    <input type="text" placeholder="Number two" class="form-control col-md-4" name ="son2"[(ngModel)]="son2"><br>
    <button type="submit" class="btn btn-danger">Add</button>
</form>
<p>Div From Body in Home component</p>
</body>



