<div style="text-align: center;margin-top: 50px;" *ngIf="!registerMode">
  <button type="button" class="btn btn-success"(click)="registerToggle()">Register</button>

  <button type="button" class="btn btn-primary" style="margin-left: 30px;">Learn More</button>
</div>

<div class="container" *ngIf="registerMode">
  <div class="row justify-content-center">
    <div class="col-md-4">
        <!-- <app-register [valuesFromHome]="values" (cancelRegister)="cancelRegisterMode($event)"></app-register> -->
        <app-register  (cancelRegister)="cancelRegisterMode($event)"></app-register>
    </div>
  </div>
</div>

<!-- <p *ngFor="let value of values">
  {{value.classRoomID}}: {{value.className}}
</p> -->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <input type="text" placeholder="Number one"><br>
      <input type="text" placeholder="Number two"><br>
      <button>Add</button>
    </div>
  </div>
</div>
<body>






